
       .''`.           {{ conference_name }} infrastructure machine
      : :`  :
      `. `'`           {{ conference_town }}, {{ conference_country }}
        `-


\S \m
\v
\n.\o
\4
\6
Users logged in: \u


Ansibled: {{ ansible_date_time.date }} {{ansible_date_time.time}}
Room Name: {{room_name}}

