-- {{ ansible_managed }}
plugin_paths = { "/usr/share/jitsi-meet/prosody-plugins/" }

-- domain mapper options, must at least have domain base set to use the mapper
muc_mapper_domain_base = "{{ jitsi_meet_domain }}";

external_service_secret = "{{ turn_secret }}";
external_services = {
     { type = "stun", host = "{{ jitsi_meet_domain }}", port = 3478 },
     { type = "turn", host = "{{ jitsi_meet_domain }}", port = 3478, transport = "udp", secret = true, ttl = 86400, algorithm = "turn" },
     { type = "turns", host = "{{ jitsi_meet_domain }}", port = 5349, transport = "tcp", secret = true, ttl = 86400, algorithm = "turn" }
};

cross_domain_bosh = false;
consider_bosh_secure = true;
-- https_ports = { }; -- Remove this line to prevent listening on port 5284

-- https://ssl-config.mozilla.org/#server=haproxy&version=2.1&config=intermediate&openssl=1.1.0g&guideline=5.4
ssl = {
    protocol = "tlsv1_2+";
    ciphers = "ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384"
}

unlimited_jids = {
    "focus@auth.{{ jitsi_meet_domain }}",
    "jvb@auth.{{ jitsi_meet_domain }}"
}

VirtualHost "{{ jitsi_meet_domain }}"
    -- enabled = false -- Remove this line to enable this host
    authentication = "anonymous"
    -- Properties below are modified by jitsi-meet-tokens package config
    -- and authentication above is switched to "token"
    --app_id="example_app_id"
    --app_secret="example_app_secret"
    -- Assign this host a certificate for TLS, otherwise it would use the one
    -- set in the global section (if any).
    -- Note that old-style SSL on port 5223 only supports one certificate, and will always
    -- use the global one.
    ssl = {
        key = "/etc/prosody/certs/{{ jitsi_meet_domain }}.key";
        certificate = "/etc/prosody/certs/{{ jitsi_meet_domain }}.crt";
    }
    av_moderation_component = "avmoderation.{{ jitsi_meet_domain }}"
    speakerstats_component = "speakerstats.{{ jitsi_meet_domain }}"
    conference_duration_component = "conferenceduration.{{ jitsi_meet_domain }}"
    -- we need bosh
    modules_enabled = {
        "bosh";
        "pubsub";
        "ping"; -- Enable mod_ping
        "speakerstats";
        "external_services";
        "conference_duration";
        "muc_lobby_rooms";
        "av_moderation";
    }
    c2s_require_encryption = false
    lobby_muc = "lobby.{{ jitsi_meet_domain }}"
    main_muc = "conference.{{ jitsi_meet_domain }}"
    muc_lobby_whitelist = { "recorder.{{ jitsi_meet_domain }}" } -- Here we can whitelist jibri to enter lobby enabled rooms

Component "conference.{{ jitsi_meet_domain }}" "muc"
    restrict_room_creation = true
    storage = "memory"
    modules_enabled = {
        "muc_meeting_id";
        "muc_domain_mapper";
        "muc_allowners";
        --"token_verification";
    }
    admins = { "focus@auth.{{ jitsi_meet_domain }}" }
    muc_room_locking = false
    muc_room_default_public_jids = true

-- internal muc component
Component "internal.auth.{{ jitsi_meet_domain }}" "muc"
    storage = "memory"
    modules_enabled = {
        "ping";
    }
    admins = { "focus@auth.{{ jitsi_meet_domain }}", "jvb@auth.{{ jitsi_meet_domain }}", "jigasi@auth.{{ jitsi_meet_domain }}" }
    muc_room_locking = false
    muc_room_default_public_jids = true

VirtualHost "auth.{{ jitsi_meet_domain }}"
    ssl = {
        key = "/etc/prosody/certs/auth.{{ jitsi_meet_domain }}.key";
        certificate = "/etc/prosody/certs/auth.{{ jitsi_meet_domain }}.crt";
    }
    modules_enabled = {
        "limits_exception";
    }
    authentication = "internal_hashed"

-- Proxy to jicofo's user JID, so that it doesn't have to register as a component.
Component "focus.{{ jitsi_meet_domain }}" "client_proxy"
    target_address = "focus@auth.{{ jitsi_meet_domain }}"

Component "speakerstats.{{ jitsi_meet_domain }}" "speakerstats_component"
    muc_component = "conference.{{ jitsi_meet_domain }}"

Component "conferenceduration.{{ jitsi_meet_domain }}" "conference_duration_component"
    muc_component = "conference.{{ jitsi_meet_domain }}"

Component "avmoderation.{{ jitsi_meet_domain }}" "av_moderation_component"
    muc_component = "conference.{{ jitsi_meet_domain }}"

Component "lobby.{{ jitsi_meet_domain }}" "muc"
    storage = "memory"
    restrict_room_creation = true
    muc_room_locking = false
    muc_room_default_public_jids = true
