#!/bin/sh
# {{ ansible_managed }}

set -euf

URL=http://localhost:{{ nageru.http_port }}/metrics
if ! curl -sq -o /dev/null $URL; then
	echo "Nageru isn't responding yet, waiting for: $URL"
	while ! curl -sq -o /dev/null $URL; do
		sleep .5s
	done
fi

exec ffmpeg -i http://localhost:{{ nageru.http_port }}/ \
	-c:v copy \
{% if streaming.mix_channels %}
	-ac 1 \
{% else %}
	-filter:a "channelmap=map=FL-0" \
{% endif %}
	-c:a aac -b:a {{ streaming.hq_config.audio_bitrate }} \
	-f flv \
	"{{ streaming.rtmp.location }} live=1"
