# {{ ansible_managed }}

[Unit]
Description=FFmpeg proxy {{ name }}
After=videoteam-ingest-proxy-{{ name }}.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
ExecStart=/usr/bin/ffmpeg \
    -v error \
    -i {{ input }} \
    -c:v copy \
    -c:a copy \
    -f mpegts \
    tcp://{{ host }}:{{ port }}
Restart=always
RestartSec=1s

[Install]
WantedBy=xlogin.target
