# {{ ansible_managed }}

[Unit]
Description=Voctomix record data
After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
StartLimitIntervalSec=0
Conflicts=xlogout.target

[Service]
{% if recording_timezone is defined %}
Environment=TZ={{ recording_timezone }}
{% endif %}
{% if recording_format == 'mpeg2' %}
ExecStart=/usr/local/bin/monitor-stdout 2 /usr/local/bin/videoteam-record-timestamp-ts /srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}
{% elif recording_format == 'h.264' %}
ExecStart=/usr/local/bin/monitor-stdout 2 /usr/local/bin/videoteam-record-timestamp-mp4 /srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}
{% endif %}
KillMode=mixed
KillSignal=SIGINT
Restart=always
RestartSec=1s

[Install]
WantedBy=xlogin.target
