# {{ ansible_managed }}

application front {
    allow publish 127.0.0.1;
    allow publish ::1;
{% for ip in streaming.backend.ips %}
    allow publish {{ ip }};
{% endfor %}
    deny publish all;
    allow play all;

    live on;

    # Make sure clients always get video first; sometimes they get confused if
    # the first packet they receive is an audio packet.
    wait_video on;
    wait_key on;
}
