server {
  listen 80;
  listen [::]:80;

  server_name {{ zammad_hostname|default(ansible_fqdn) }};

  location / {
    return 302 https://{{ zammad_hostname|default(ansible_fqdn) }}$request_uri;
  }

  location /.well-known/acme-challenge/ {
    default_type "text/plain";
    root /var/spool/acme-challenge/;
  }
}
