# {{ ansible_managed }}
[Match]
Name={{ ifname }}
Type={{ iftype }}

[Link]
RequiredForOnline=yes

[Network]
Description={{ ifdesc }}
{% if not static %}
DHCP=yes
{% else %}

[Address]
Address={{ address }}

{% if gateway is defined and gateway %}
[Route]
Gateway={{ gateway }}
{% endif %}
{% endif %}
